

.login-view1 {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.26),
    rgba(98, 212, 222, 0.4));
}

.nav_login {
  max-height: 60px;
  font-size: 25px;
  justify-content: flex-end;
  background-color: rgba(194, 163, 255, 0.8);
  min-width: 100%;
}

.nav_login_logo {
  position: absolute;
  left: 10px;
  font-size: 44px;
  color: white;
  font-weight: 800;
}

.container_login {
  display: flex;
}

.form_login {
  border-radius: 4px;
  padding: 30px;
  font-size: 28px;
  max-width: 600px;
  text-align: center;
  margin:  0 auto;
  margin-top: 200px;
  background: rgba(255, 255, 255, 0.26);
  height: auto;
  width: auto;
}

.formUsername {
  padding: 10px;
  margin-top: 20px;
}

.form_label_login {
  font-size: 22px;
  float: left;
  width: 100px;
}

.form_input_login {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  width: 200px;
}

.formPassword {
  padding: 10px;
}

.errormessage_login {
  font-size: 16px;
  color: red;
  margin: -8px;
}

.btn_register {
  width: 100px;
  font-size: 24px;
  background-color: black;
  margin: 10px;
  border: none;
  color: white;
  text-decoration: none;
}

.btn_register:hover {
  color: black;
  text-decoration: none;
  background-color: #C2A3FF;
}

.btn_login {
  width: 100px;
  font-size: 24px;
  background-color: #C2A3FF;
  border: none;
  margin: 24px;
  color: white;
  text-decoration: none;
}

.btn_login:hover {
  color: black;
  text-decoration: none;
}